.process-cmp 
  position: relative
  width 100%

.process-line 
  width: 100%
  height: 5px
  background-color: #e0e0ee
  /* border-radius: 2px; */

.process-jindu 
  position: absolute
  top: 0
  left: 0
  height: 5px
  background-color: yellow

.process-button 
  position: absolute
  top: -100%
  width: 15px
  height: 15px
  background-color: blue
  border-radius: 50%
