@import '../assets/css/fun'
.App
  // padding rem(30px) rem(48px) rem(0px)
  box-sizing border-box
  .music-tab
    flex 1
    display flex
    justify-content space-between
    align-items center
    padding rem(30px) rem(48px) rem(0px)
    box-sizing border-box
    background-color #fff
    // margin-bottom hrem(84px)
    .tab-item
      flex 1
      text-align center
      font-size rem(42px)
      color #848484
    .tab-img
      flex 0 0 rem(54px)
      &:first-child	
        margin-right rem(142px)
      &:last-child
        margin-left rem(142px)
        // background-color red
      img 
        width rem(54px)
        height rem(54px)
  .music-view
    margin-top 84px

.link
  color: inherit
  &.active
    color #000000
    font-weight 700
    font-size rem(52px)

